.mystical-booklist-container {
  padding: 20px;
  width: 100%;
  background: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.empty-grid-container p {
  font-size: 60px;
}
