.mystical-spinner-container {
  display: flex;
  justify-content: center;
}

.mystical-spinner .ant-spin-dot-item {
  background-color: #3f2a1d;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(218, 165, 32, 0.8);
}
.mystical-spinner .ant-spin {
  background: radial-gradient(circle, rgba(245, 224, 80, 0.2), transparent);
  border-radius: 10px;
  border: 1px solid #6b4423;
}
